<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Car with Care</title>
</head>

<body style="background-image: url('back.jpg')">
    <!-- Add this button at the bottom of your body tag -->
<div class="leaderboard-button">
    <a href="/leaderboard">Go to Leaderboard</a>
</div>

    <div class="container">
        <h1 class="title">Car with Care</h1>
        <div class="buttons">
            <button class="login-button"><a href="/login">Login / Create User</a></button>
            <button class="play-button"><a href="/play">Play Game</a></button>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
