<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Enter Your Name</title>
</head>

<body>
    <div class="container">
        <div class="text-box">
            <form action="/login" method="POST">
            <h1 class="title">Welcome!</h1>
            <p class="description">Please enter your name:</p>
            <input type="text" id="nameInput" name="username" class="input-field">
            <button class="submit-button" type="submit">PLAY GAME</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
